.block-background {
  border-radius: 10px;
  padding: 1rem 2rem;
}

.bordered-background {
  filter: brightness(90%);
  border: 1px dashed black;
  border-radius: 10px;
  padding: 0.5em;
  margin-top: 1em;
}

.block {
  width: 25%;
  padding: 10px;
  border-radius: 10px;
  position: relative;
}

.block label {
  margin-bottom: 0;
}

.block .form-group {
  margin-bottom: 0.5em;
}

#blockchain {
  margin-left: 2rem;
  width: 95%;
  overflow: auto;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
}

.block-and-chain {
  display: flex;
  align-items: center;
  min-width: 20rem;
  margin: 0.5rem 2.75rem;
}

.chain {
  font-size: 4rem;
}
