$valid_bg: #b4ff9a;
$invalid_bg: #ff9a9a;

$root-cell: #4f9249;
$middle-cells: #cf8b31;
$data-cells: #7d95ff;

$valid_solution: #008000 !important;
$invalid_solution: #f00 !important;

.block {
  width: 20rem;
}

.valid-block {
  background-color: $valid_bg;
}

.invalid-block {
  background-color: $invalid_bg;
}

.valid-solution {
  color: $valid_solution;
}

.invalid-solution {
  color: $invalid_solution;
}

.show-trans-eye:hover {
  cursor: pointer;
}

td {
  width: 11%;
  height: 35px;
  border-top: none !important;
}

.root-cell,
.middle-cells,
.data-cells {
  color: white;
}

.root-cell {
  background: $root-cell;
}

.middle-cells {
  background: $middle-cells;
}

.data-cells {
  background: $data-cells;
}

.diag-line-right {
  background: linear-gradient(to top right, #fff calc(50% - 1px), #000, #fff calc(50% + 1px));
}

.diag-line-left {
  background: linear-gradient(to top left, #fff calc(50% - 1px), #000, #fff calc(50% + 1px));
}

.normal-line {
  background: linear-gradient(to left, #fff calc(50% - 1px), #000, #fff calc(50% + 1px));
}
