$valid_bg: #b4ff9a;
$invalid_bg: #ff9a9a;

$valid_solution: #008000 !important;
$invalid_solution: #f00 !important;

.block {
  width: 20rem;
}

.valid-block {
  background-color: $valid_bg;
}

.invalid-block {
  background-color: $invalid_bg;
}

.valid-solution {
  color: $valid_solution;
}

.invalid-solution {
  color: $invalid_solution;
}

.show-trans-eye:hover {
  cursor: pointer;
}
