$valid_bg: #b4ff9a;
$invalid_bg: #ff9a9a;

.block {
  width: 20rem;
}

.valid-block {
  background-color: $valid_bg;
}

.invalid-block {
  background-color: $invalid_bg;
}

.show-trans-eye:hover {
  cursor: pointer;
}
