#list-background {
  background: #c4c4c4;
  height: 12rem;
  border-radius: 10px;
  overflow: auto;
  display: flex;
  align-items: center;
}

.item {
  height: 11rem;
  background-color: white;
  border-radius: 25px;
  margin: 0 1em;
  padding: 0.5em 1em;
}

.item-trans {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-trans:hover {
  border: 1px solid green;
  cursor: pointer;
}

.item-index-text {
  font-size: 50px;
}
