#user-list-background {
  background: #c4c4c4;
  height: 12rem;
  border-radius: 10px;
  overflow: auto;
  display: flex;
  align-items: center;
}

.user-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
  background-color: white;
  border-radius: 25px;
}

.user-item:hover {
  border: 1px solid green;
  cursor: pointer;
}

.user-item-index-text {
  font-size: 50px;
}
