@import "../App/App.scss";

.user-key {
  margin: 0.25em 0.5em;
  word-wrap: break-word;
}

#private-reveal-eyes:hover {
  cursor: pointer;
}

.user-item {
  background-color: $default_item_bg;
  margin: 1em 0.5em;
  padding: 1em;
  width: 14rem;
}
