#list-background {
  background: #c4c4c4;
  border-radius: 10px;
  overflow: auto;
  display: flex;
  align-items: center;
  min-height: 12rem;
}

.item {
  background-color: white;
  margin: 1em;
  padding: 0.5em 1em;
  border-radius: 5px;
}

.item:hover {
  cursor: pointer;
}

.item-index-text {
  font-size: 50px;
}
