.block {
  width: 25%;
  padding: 10px;
  border-radius: 10px;
  position: relative;
}

.block label {
  margin-bottom: 0;
}

.bordered-background {
  filter: brightness(90%);
  border: 1px dashed black;
  border-radius: 10px;
  padding: 1em;
}
