#mined-block {
  width: 25%;
  padding: 10px;
  border-radius: 10px;
}

#mine-add-block {
  font-size: 25px;
  border-radius: 10px;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 12px 3px 12px;
  margin: 4px 4px 0 0;
}
