#mined-block {
  width: 25%;
  padding: 10px;
  border-radius: 10px;
}

#mined-block > p,
#statistics > p {
  margin-bottom: 8px;
  font-size: larger;
}

#mine-add-block {
  font-size: 25px;
  border-radius: 10px;
  font-weight: bold;
  float: right;
}
