$navbar_bg: #eee;
$nav_link_underscore: #8ac0ff;

nav {
  background-color: $navbar_bg;
}

.nav-link {
  font-size: larger;
  text-align: right;
  color: black;
  font-weight: bolder;

  &:hover,
  &.active {
    font-weight: bolder;
  }

  &:hover {
    border-bottom: $nav_link_underscore 1px solid;
  }
}

@media only screen and (max-width: 1200px) {
  .nav-link:hover {
    border-bottom: none;
  }
}
