nav {
  background-color: #eee;
}

.nav-link {
  font-size: larger;
  text-align: right;
  color: black;
  font-weight: bolder;
}

.nav-link:hover,
.nav-link.active {
  font-weight: bolder;
}

.nav-link:hover {
  border-bottom: #8ac0ff 1px solid;
}

@media only screen and (max-width: 1200px) {
  .nav-link:hover {
    border-bottom: none;
  }
}
