.trans-item {
  background-color: white;
  margin: 1em;
  padding: 0.5em 1em;
  border-radius: 5px;
  border: transparent 1px solid;
  z-index: 1;
  min-width: 10rem;
}

.trans-item:hover {
  cursor: pointer;
  border: green 1px solid;
}

.selected {
  background-color: #dfd;
}

.not-selected {
  background-color: white;
}

.trans-form {
  padding: 1em;
  border: 1px solid black;
  border-radius: 6px;
  margin: 0 1rem;
}
